[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".zsh-autopair"]
	path = .zsh-autopair
	url = https://github.com/hlissner/zsh-autopair.git
[submodule ".config/cheat/cheatsheets/community"]
	path = .config/cheat/cheatsheets/community
	url = https://github.com/cheat/cheatsheets.git
[submodule "exe/separator"]
	path = exe/separator
	url = https://github.com/pjnadolny/separator.git
