[user]
	name = mcpeapsUnterstrichHD
	email = mcpeaps_HD@outlook.com

[alias]
    push = jj git push $*
    status = jj status $*
    pull = jj pull $*
    clone = jj git clone --colocate $*

[pull]
    rebase = true

[core]
	eol = lf
	autocrlf = false

[fsck]
	zeroPaddedFilemode = ignore

[fetch "fsck"]
	zeroPaddedFilemode = ignore
[receive "fsck"]
	zeroPaddedFilemode = ignore
[oh-my-zsh]
	lastVersion = efdfe2f29ac57a9de76391b4e5548edab6a43241
