[user]
	name = mcpeapsUnterstrichHD
	email = mcpeaps_HD@outlook.com

[alias]
    push = jj git push $*
    status = jj status $*
    pull = jj pull $*
    clone = jj git clone --colocate $*

[pull]
    rebase = true

[core]
	eol = lf
	autocrlf = false

[fsck]
	zeroPaddedFilemode = ignore

[fetch "fsck"]
	zeroPaddedFilemode = ignore
[receive "fsck"]
	zeroPaddedFilemode = ignore
[oh-my-zsh]
	lastVersion = 203369b0f9ec284e06b73f555a14fa5f02be5a0a
