[alias]
    push = jj git push $*
    status = jj status $*
    pull = jj pull $*
    clone = jj git clone --colocate $*

[pull]
	ff = only

[core]
	eol = lf
	autocrlf = false
	symlinks = true
	hooksPath = .husky/_

[fsck]
	zeroPaddedFilemode = ignore

[fetch "fsck"]
	zeroPaddedFilemode = ignore
[receive "fsck"]
	zeroPaddedFilemode = ignore
[oh-my-zsh]
	lastVersion = 8510847ff38a142850e4a065dc3cf09555260ff7
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = CBPS Engine
	email = engine@comboomsucht.dev
[lfs]
	repositoryformatversion = 0
